body {
	font-size: 2.5em;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
table {
  border-collapse: collapse;
}
td {
  padding: 0.3em;
}
table, th, td {
  border: 1px solid gray;
}
th {
	background: black;
	color: white;
	font-weight: bold;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #DDDDDD;
}
.bold {
	font-weight: bold;
}
.darkred_bold {
  color: darkred;
	font-weight: bold;
}
.darkgreen_bold {
  color: darkgreen;
	font-weight: bold;
}
.darkblue_bold {
  color: darkblue;
	font-weight: bold;
}
.torrent_name {
	font-weight: bold;
	display: block;
}
.torrent_state {
	font-weight: bold;
	text-transform: uppercase;
}
.move_status {
	font-weight: bold;
	text-transform: uppercase;
}
.path {
	font-family: monospace;
}

.errorbox {
	color: black;
	background: #FF9900;
	border: solid 3px #FF3300;
	font-weight: bold;
	margin: 1em;
	padding: 1em;
}
#header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

/* Navigation */
#nav {
	height: 100%;
	background-color:#eeeeee;
	margin-right: 1em;
	padding: 5px;
	width: 100%;
}
.navbox {
	margin-bottom: 1em;	
	border-left: 2px solid black;
}
.navbox_title {
	background: black;
	color: white;
	display: block;
	width: 100%;
	text-align: center;
}
.navbox_content {
	padding: 0.5em;
}

/* Main section */
#section {
  width:100%;
  padding:10px;
}

/* Footer */
#footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}
/* Statistics box */
#statistics {
	height: 180px;
	margin-bottom: 1em;
	width: 100%;
}
.navbox_content .subtitle {
	font-weight: bold;
	margin-right: 1em;
	display: block;
	float: left;
	width: 10em;
	text-align: right;
}
.navbox_content_section {
	border-bottom: 1px solid black;
	padding-bottom: .5em;
	margin-bottom: .5em;
}
iframe {
	height: 800px;
	width: 100%;
}
.pathinfo_table {
	width: 100%;
	margin-bottom: 1em;
}
