.bold {
	font-weight: bold;
}
.darkred_bold {
  color: darkred;
	font-weight: bold;
}
.darkgreen_bold {
  color: darkgreen;
	font-weight: bold;
}
.darkblue_bold {
  color: darkblue;
	font-weight: bold;
}
.torrent_name {
	font-weight: bold;
}
.torrent_state {
	font-weight: bold;
	text-transform: uppercase;
}
.move_status {
	font-weight: bold;
	text-transform: uppercase;
}
.path {
	font-family: monospace;
}
