body {
	font-family: "Arial";
}
table {
  border-collapse: collapse;
}
td {
  padding: 0.3em;
}
table, th, td {
  border: 1px solid gray;
}
th {
	background: black;
	color: white;
	font-weight: bold;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #DDDDDD;
}
.bold {
	font-weight: bold;
}
.darkred_bold {
  color: darkred;
	font-weight: bold;
}
.darkgreen_bold {
  color: darkgreen;
	font-weight: bold;
}
.darkblue_bold {
  color: darkblue;
	font-weight: bold;
}
.torrent_name {
	font-weight: bold;
}
.torrent_state {
	font-weight: bold;
	text-transform: uppercase;
}
.move_status {
	font-weight: bold;
	text-transform: uppercase;
}
.path {
	font-family: monospace;
}

.errorbox {
	color: black;
	background: #FF9900;
	border: solid 3px #FF3300;
	font-weight: bold;
	padding: 1em;
}
#header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

/* Navigation */
#nav {
	height: 100%;
	background-color:#eeeeee;
	padding: 5px;
}
.navbox {
	border-left: 2px solid black;
}
.navbox_title {
	background: black;
	color: white;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.navbox_content {
	padding: 0.5em;
}
.navbox_content div {
	margin-bottom: 0.2em;
}

/* Main section */
#section {
  padding: 10px;
}

/* Footer */
#footer {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}
/* Statistics box */
#statistics {
	height: 180px;
}
.navbox_content .subtitle {
	font-weight: bold;
	text-align: right;
}
.navbox_content_section {
	border-bottom: 1px solid black;
	padding-bottom: .5em;
}
