{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Kodi Helper{{if .Title}} - {{print .Title}}{{end}}</title>
	{{if .IsMobile }}
		<link rel="stylesheet" type="text/css" href="/resources/m_style.css">
	{{else}}
		<link rel="stylesheet" type="text/css" href="/resources/style.css">
	{{end}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
	{{template "head" .ContentContext}}
	<link rel="icon" href="/resources/favicon.ico" type="image/x-icon"/>
</head>
<body>

<div id="nav">
	<div class="navbox" id="Links">
		<div>
			<img src="/resources/kodi_helper_logo_wide.svg" width="100%"/>
		</div>
		<div class="navbox_title">LINKS</div>
		<div class="navbox_content">
			<div>■ <a href="/">Home</a></div>
			{{if .Links}}
				{{range $name, $url := .Links}}
					<div>■ <a href="{{print $url}}">{{print $name}}</a> {{$name}} {{$url}}</div>
				{{end}}
			{{end}}

			{{if .IframeLinks}}
				{{range $name, $url := .IframeLinks}}
					<div>■ <a href="/wrap/{{print $name}}">{{print $name}}</a></div>
				{{end}}
			{{end}}
		</div>
	{{range $viewName, $viewUrls := .ViewsMenu}}
	{{if $viewUrls }}
	<div class="navbox_title">{{print $viewName}}</div>
		<div class="navbox_content">
			{{range $name, $url := $viewUrls }}
			<div>■ <a href="{{print $url}}">{{print $name}}</a></div>
			{{end}}
		</div>
	{{end}}
	{{end}}
	</div>
	{{template "navpane" .ContentContext}}
</div>

<div id="contents">
	<!-- Errors -->
	{{range $idx, $error := .Errors }}
		{{if $error}}
		<div class="errorbox">
			<span class="errorheader">ERROR</span>
			{{print $error}}
		</div>
		{{end}}
	{{end}}

	<div id="section">
	{{template "section" .ContentContext}}
	</div>
</div>

</body>
</html>
{{end}}
{{define "head" }}{{end}}
{{define "navpane"}}{{end}}
{{define "section"}}{{end}}
