{{define "section"}}
<md-card>
<md-card-title>
<md-card-title-text class="md-headline">
	Files in Kodi missing on disk
</md-card-title-text>
</md-card-title>
<md-card-content>
	<ul>
		{{range $s, $ok := .FilesInKodiMissingOnDisk}}
		<li class="path">{{$s}}</li>
		{{end}}
	</ul>
</md-card-content>
</md-card>

<md-card>
<md-card-title>
<md-card-title-text class="md-headline">
	Files on disk missing in Kodi
</md-card-title-text>
</md-card-title>
<md-card-content>
	<ul>
		{{range $s, $ok := .FilesOnDiskMissingInKodi}}
		<li class="path">{{$s}}</li>
		{{end}}
	</ul>
</md-card-content>
</md-card>
{{end}}
