{{define "navpane"}}
<!-- Curent Paths -->
<div id="navbox">
	<div class="navbox">
		<div class="navbox_title">DISKS</div>
		<div class="navbox_content">
			{{range $idx, $diskStats := .DiskStats}}
			<div class="disk_stats">
				<div><span class="subtitle">Path</span>{{$diskStats.Path}}</div>
				<div><span class="subtitle">Disk Size</span>{{$diskStats.Size}}</div>
				<div><span class="subtitle">Empty Space</span>{{$diskStats.Avail}}</div>
			</div>
			{{end}}
			<div>
				<div><span class="subtitle">Update</span>
					<form action="/update/disks">
						<input type="submit" value="Update disk stats">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="navbox">
		<div class="navbox_title">QUEUE / CACHE</div>
		<div class="navbox_content">
			<div><span class="subtitle">Queue Elems</span>{{.MvBufferElems}}</div>
			<div><span class="subtitle">Queue Size</span>{{.MvBufferSize}}</div>
			<div><span class="subtitle">Cache refreshed</span> {{print .CacheResfreshed}}</div>
			<div><span class="subtitle">Update</span>
				<form action="/update/cache">
					<input type="submit" value="Update cache">
				</form>
			</div>
		</div>
	</div>
</div>
{{end}}

{{define "section"}}
<div>
{{if .PathInfo }}
{{$stl :=  .SeriesTargets }}
<div class="pathinfo_table">
<table>
  <colgroup>
		<col style="width: 50%"><!-- Path -->
		<col style="width: 20%" align="center"><!-- Torrent Status -->
		<col style="width: 30%" align="center"><!-- Move Status -->
  </colgroup>
	<tr>
		<th>Path</th>
		<th>Torrent Status</th>
		<th>Move</th>
	</tr>
	{{ range $idx, $pathInfo := .PathInfo }}
  <tr>
		<!-- Path Column -->
    <td>
			<span class="torrent_name path" id="path_{{$idx}}">▶ {{print $pathInfo.Path }}</span>
      {{if $pathInfo.TorrentInfo }}
			<div class="expandable" id="listing_{{$idx}}" style="display: none">
        <ul>
        {{ range $idx, $torrentFileInfo := $pathInfo.TorrentInfo.Files }}
				<li><span class="path">{{print $torrentFileInfo.Name}}</span></li>
        {{end}}
        </ul>
      </div>
			<script>
				$(function() {
					$("#path_{{$idx}}").click(function() {
						$("#listing_{{$idx}}").toggle("fold", {}, 500)
					});
				});
			</script>
      {{end}}
		</td>

		<!-- Torrent Status -->
		<td>
      {{if $pathInfo.TorrentInfo }}
				{{if $pathInfo.TorrentInfo.IsFinished }}
					<span class="torrent_state darkgreen_bold">Finished</span>
					{{else}}
					<span class="torrent_state darkred_bold">Not Finished</span>
				{{end}}
			{{else}}
					<span class="torrent_state darkblue_bold">Missing</span>
      {{end}}
    </td>

		<!-- Move Form -->
    <td>
			{{if $pathInfo.MoveInfo.Moving}}
				<span class="darkblue_bold">MOVING TO</span>
				<span class="target path">{{print $pathInfo.MoveInfo.Target}}</span>
			{{else}}
				{{if $pathInfo.AllowMove}}
					<div>
				  {{if not $pathInfo.TorrentInfo}}
					  <span class="darkblue_bold">No torrent info - be careful what you move</span>
					{{end}}
					<form action="/move" method="post">
						<input type="submit" value="move">
						to
						<select name="target">
							<option value="movies">movies</option>
							{{if $stl}}
								{{range $idx, $path := $stl}}
								<option value="{{print $path}}">{{print $path}}</option>
								{{end}}
							{{end}}
						</select>
						<input type="hidden" name="path" value="{{print $pathInfo.Path}}">
						<input type="hidden" name="type" value="move">
					</form>
					</div>
				{{else}}
				  <div>
				  {{if $pathInfo.TorrentInfo}}
						{{if $pathInfo.TorrentInfo.IsFinished}}
							<span class="darkblue_bold">Not allowed to move path but torrent is finished. ????</span>
						{{else}}
							<span class="darkblue_bold">Not allowed because torrent not finished yet.</span>
						{{end}}
					{{else}}
							<span class="darkblue_bold">Not allowed to move but no torrent info. ????</span>
					{{end}}
					</div>
				{{end}}
			{{end}}
			{{if $pathInfo.MoveInfo.LastError}}
				<div><span class="darkred_bold">Last move error:</span> {{print $pathInfo.MoveInfo.LastError}}</div>
				<div>{{$pathInfo.MoveInfo.LastErrorOutput}}</div>
			{{end}}
    </td>
  </tr>
  {{end}}
</table>
</div>
{{end}}

<!-- History of paths -->
{{if .PathInfoHistory }}
<div class="pathinfo_table">
<table>
  <colgroup>
		<col style="width: 50%"><!-- Path -->
		<col style="width: 20%" align="center"><!-- Torrent Status -->
		<col style="width: 30%" align="center"><!-- Move Status -->
  </colgroup>
	<tr>
		<th>Path</th>
		<th>Torrent Status</th>
		<th>Move Target</th>
	</tr>
	{{ range $idx, $pathInfo := .PathInfoHistory }}
  <tr>
		<!-- Path Column -->
    <td>
			<span id="history_path_{{$idx}}" class="torrent_name path">▶ {{print $pathInfo.Path }}</span>
      {{if $pathInfo.TorrentInfo }}
			<div id="history_listing_{{$idx}}" style="display: none">
        <ul>
        {{ range $idx, $torrentFileInfo := $pathInfo.TorrentInfo.Files }}
				<li><span class="path">{{print $torrentFileInfo.Name}}</span></li>
        {{end}}
        </ul>
      </div>
			<script>
				$(function() {
					$("#history_path_{{$idx}}").click(function() {
						$("#history_listing_{{$idx}}").toggle("fold", {}, 500)
					});
				});
			</script>
      {{end}}
		</td>

		<!-- Torrent Status -->
		<td>
      {{if $pathInfo.TorrentInfo }}
				{{if $pathInfo.TorrentInfo.IsFinished }}
					<span class="torrent_state darkgreen_bold">Finished</span>
					{{else}}
					<span class="torrent_state darkred_bold">Not Finished</span>
				{{end}}
			{{else}}
					<span class="torrent_state darkblue_bold">No Torrent Info</span>
      {{end}}
    </td>

		<!-- Move Target -->
		<td>
			<span class="darkblue_bold">{{print $pathInfo.MoveInfo.Target }}</span>
		</td>

  {{end}}
</table>
</div>
{{end}}
</div>

{{end}}
