{{define "navpane"}}
<!-- Curent Paths -->
<md-card>
	<md-card-title><md-card-title-text>DISKS</md-card-title-text></md-card-title>
	<md-card-content flex layout="column">
			{{range $idx, $diskStats := .DiskStats}}
			<div layout="row"><div flex>Path</div><div flex=20>{{$diskStats.Path}}</div></div>
			<div layout="row"><div flex>Disk Size</div><div flex=20>{{$diskStats.Size}}</div></div>
			<div layout="row"><div flex>Empty Space</div><div flex=20>{{$diskStats.Avail}}</div></div>
			 <md-divider ng-if="!$last"></md-divider>
			{{end}}
			<md-button ng-href="/update/disks">Update disk stats</md-button>
	</md-card-content>
</md-card>
<md-card>
	<md-card-title><md-card-title-text>QUEUE / CACHE</md-card-title-text></md-card-title>
	<md-card-content layout="column">
		<div layout="row"><span flex>Q Elems</span><span flex=20>{{.MvBufferElems}}</span></div>
		<div layout="row"><span flex>Q Size</span><span flex=20>{{.MvBufferSize}}</span></div>
		<div layout="row"><span flex>Cache Refreshed</span><span>{{print .CacheResfreshed}}</span></div>
		<md-button ng-href="/update/cache">Update cache</md-button>
	</md-card-content>
</md-card>
{{end}}

{{define "section"}}
<md-panel>
{{if .PathInfo }}
{{$mts :=  .MoveTargets }}
<script>
$('document').ready(function() {
	$( ".move_target_select" ).autocomplete({
		minLength: 0,
	  source: [
			{{range $idx, $path := $mts}}
			{{$path}},
			{{end}}
		]
	});
});
</script>

<md-toolbar layout="row" class="md-hue-2">
	<div class="md-toolbar-tools">
		 <span>ACTIVE TORRENTS</span>
	</div>
</md-toolbar>
<md-list flex layout="column" flex>
	{{ range $idx, $pathInfo := .PathInfo }}
	<md-panel layout="row" flex>
		<!-- Path Column -->
			<div layout="column" flex>
				<span class="torrent_name path" id="path_{{$idx}}">▶ {{print $pathInfo.Path }}</span>
				{{if $pathInfo.TorrentInfo }}
				<div class="expandable" id="listing_{{$idx}}" style="display: none">
					<ul>
					{{ range $idx, $torrentFileInfo := $pathInfo.TorrentInfo.Files }}
					<li><span class="path">{{print $torrentFileInfo.Name}}</span></li>
					{{end}}
					</ul>
				</div>
				<script>
					$(function() {
						$("#path_{{$idx}}").click(function() {
							$("#listing_{{$idx}}").toggle("fold", {}, 500)
						});
					});
				</script>
				{{end}}
			</div>

		<!-- Torrent Status -->
		<div flex=20>
      {{if $pathInfo.TorrentInfo }}
				{{if $pathInfo.TorrentInfo.IsFinished }}
					<span class="torrent_state darkgreen_bold">Finished</span>
					{{else}}
					<span class="torrent_state darkred_bold">Not Finished</span>
				{{end}}
			{{else}}
					<span class="torrent_state darkblue_bold">Missing</span>
      {{end}}
		</div>

		<!-- Move Form -->
			<div flex=20>
			{{if $pathInfo.MoveInfo.Moving}}
				<span class="darkblue_bold">MOVING TO</span>
				<span class="target path">{{print $pathInfo.MoveInfo.Target}}</span>
			{{else}}
				{{if $pathInfo.AllowMove}}
					<div>
				  {{if not $pathInfo.TorrentInfo}}
					  <span class="darkblue_bold">No torrent info - be careful what you move</span>
					{{end}}
					<form action="/move" method="post">
						<input name="target" class="move_target_select">
						<input type="hidden" name="path" value="{{print $pathInfo.Path}}">
						<input type="hidden" name="type" value="move">
						<input type="submit" value="move">
					</form>
					</div>
				{{else}}
				  <div>
				  {{if $pathInfo.TorrentInfo}}
						{{if $pathInfo.TorrentInfo.IsFinished}}
							<span class="darkblue_bold">Not allowed to move path but torrent is finished. ????</span>
						{{else}}
							<span class="darkblue_bold">Not allowed because torrent not finished yet.</span>
						{{end}}
					{{else}}
							<span class="darkblue_bold">Not allowed to move but no torrent info. ????</span>
					{{end}}
					</div>
				{{end}}
			{{end}}
			{{if $pathInfo.MoveInfo.LastError}}
				<div><span class="darkred_bold">Last move error:</span> {{print $pathInfo.MoveInfo.LastError}}</div>
				<div>{{$pathInfo.MoveInfo.LastErrorOutput}}</div>
			{{end}}
			</div>
	</md-panel>
	<md-divider></md-divider>
  {{end}}
<md-list>
{{end}}

{{end}}
